<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" onsubmit="login(event)">
        <h3>Sign In</h3>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <div id="anchor-tags">
          <a href="../signup/signUp.html" class="left-anchor">Sign Up</a>
          <a href="../forgot/forgotPass.html" class="right-anchor"
            >Forgot Password</a
          >
        </div>
        <div id="inc-cred">
          <h5>User does not exist</h5>
        </div>
        <div id="no-auth">
          <h5>User not authorized</h5>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/login.js"></script>
  </body>
</html>
