<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css" />
  </head>
  <body>
    <div class="signUp-container">
      <form class="signUp-form" method="post" onsubmit="signUp(event)">
        <h3>Sign Up</h3>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          type="text"
          id="phno"
          name="phno"
          placeholder="Phone Number"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <div id="anchor-tags">
          <a href="../login/login.html" class="left-anchor"
            >Already User: Sign In</a
          ><!--
                --><a href="../forgot/forgotPass.html" class="right-anchor"
            >Forgot Password</a
          >
        </div>
        <button type="submit">Sign Up</button>
        <div id="user-exists">
          <h5>User already exists</h5>
        </div>
      </form>
    </div>
    <script src="/signup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </body>
</html>
